* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 30px;
}

.ion {
  	font-size: 22px;
  	position: relative;
  	right: -9px;
  	top: 4px;
}

.ion.ion-ios-plus-outline {
	color: #42B983;
}

.ion.ion-ios-minus-outline {
    color: #cccccc;
    position: absolute;
    right: -42px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

ul {
    background-color: #f0f0f0;
    padding: 0 0 20px 0;
    width: 200px;
}

li {
    list-style-type: none;
    padding: 0 10px;
    position: relative;
}

ul p {
    background-color: #555555;
    color: #ffffff;
    padding: 10px;
}

input {
    width: 190px;
}

#app span {
	padding: 8px;
    display: block;
}

#app span.ion {
    display: inline-block;
}

.display-message {
  background-color: #42b983;
  border-radius: 0 10px;
  color: #ffffff;
  font-size: 13px;
  padding: 0 6px 2px;
}

.todo.margin-bottom-20 {
    background-color: #f8f8f8;
    padding: 10px;
    width: 306px;
    margin: 0 auto;
}

.showHide {
    background-color: #f8f8f8;
    padding: 10px;
    width: 306px;
    margin: 0 auto;
    margin-top: 20px;
}
/* Style for animation */

#animating {
    background-color: #f8f8f8;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    width: 306px;
    margin: 0 auto;
    margin-top: 20px;
}

svg {
    display: block;
    margin: 0 auto;
}

/*polygon { fill: #41B883; }*/
circle {
  fill: transparent;
  stroke: #fff;
}
input[type="range"] {
  display: block;
  width: 93%;
  margin-bottom: 15px;
}
